# Frontend
app/node_modules/
app/.env
app/.env.local
app/dist/

# Backend
backend/vendor/
backend/.env
backend/.env.local
backend/storage/logs/
backend/bootstrap/cache/

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
